<div class='row row-offcanvas row-offcanvas-right'>
		<div class='col-xs-12 col-sm-9'>
			<p class='pull-right visible-xs'>
				<button type='button' class='btn btn-primary btn-sm' data-toggle='offcanvas'>
					<span class='glyphicon glyphicon-chevron-left' id='toggle-offcanvas'></span>
				</button>
			</p>
			<div class='jumbotron'>
				<h2>Class name1</h2>
				<p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.</p>
			</div>
			<div class='row tab-content'>
				<div class='tab-pane col-12 'id='class1'>
					<h2>1Heading</h2>
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
					<p><a class='btn btn-default' href='#' role='button'>View details &raquo;</a></p>
				</div><!--/span-->
				<div class='tab-pane col-12 'id='class2'>
					<h2>2Heading</h2>
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
					<p><a class='btn btn-default' href='#' role='button'>View details &raquo;</a></p>
				</div><!--/span-->
				<div class='tab-pane col-12 'id='class3'>
					<h2>3Heading</h2>
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
					<p><a class='btn btn-default' href='#' role='button'>View details &raquo;</a></p>
				</div><!--/span-->
				<div class='tab-pane col-12 'id='class4'>
					<h2>Heading</h2>
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
					<p><a class='btn btn-default' href='#' role='button'>View details &raquo;</a></p>
				</div><!--/span-->
				<div class='tab-pane col-12 'id='class5'>
					<h2>Heading</h2>
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
					<p><a class='btn btn-default' href='#' role='button'>View details &raquo;</a></p>
				</div><!--/span-->
				<div class='tab-pane col-12 'id='class6'>
					<h2>Heading</h2>
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
					<p><a class='btn btn-default' href='#' role='button'>View details &raquo;</a></p>
				</div><!--/span-->
			</div><!--/row-->
		</div><!--/span-->
		<div class='col-xs-6 col-sm-3 sidebar-offcanvas' id='sidebar' role='navigation'>
			<div class='list-group'>
				<span class='h4 well list-group-item'>Extra info</span>
				<a data-toggle='tab' href='#class0' class='list-group-item'>Member function 0</a>
				<a data-toggle='tab' href='#class1' class='list-group-item'>Member function 1</a>
				<a data-toggle='tab' href='#class2' class='list-group-item'>Member function 2</a>
				<a data-toggle='tab' href='#class3' class='list-group-item'>Member function 3</a>
				<a data-toggle='tab' href='#class4' class='list-group-item'>Member function 4</a>
				<a data-toggle='tab' href='#class5' class='list-group-item'>Member function 5</a>
				<a data-toggle='tab' href='#class6' class='list-group-item'>Member function 6</a>

			</div>
		</div><!--/span-->
	</div><!--/row-->
