<div class='row row-offcanvas row-offcanvas-right'>
		<div class='col-xs-12 col-sm-9'>
			<p class='pull-right visible-xs'>
				<button type='button' class='btn btn-primary btn-sm' data-toggle='offcanvas'>
					<span class='glyphicon glyphicon-chevron-left' id='toggle-offcanvas'></span>
				</button>
			</p>
			<div class='jumbotron'>
				<h2>Class Name</h2>
				<p>General class details</p>
				<table class="table table-striped table-bordered">
					<thead>
						<td>dingen</td>
						<td>meer dingen</td>
					</thead>
					<tbody>
						<td>item</td>
						<td>item2</td>
					</tbody>
				</table>
			</div>
			<div class='row tab-content'>
				<div class='tab-pane col-12 active'id='class0'>
					<h2>Class::Class</h2>
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
					<p><a class='btn btn-default' href='#' role='button'>View details &raquo;</a></p>
				</div><!--/span-->
				<div class='tab-pane col-12 'id='class1'>
					<h2>Class::~Class</h2>
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
					<p><a class='btn btn-default' href='#' role='button'>View details &raquo;</a></p>
				</div><!--/span-->
				<div class='tab-pane col-12 'id='class2'>
					<h2>3Heading</h2>
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
					<p><a class='btn btn-default' href='#' role='button'>View details &raquo;</a></p>
				</div><!--/span-->
				<div class='tab-pane col-12 'id='class3'>
					<h2>Heading</h2>
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
					<p><a class='btn btn-default' href='#' role='button'>View details &raquo;</a></p>
				</div><!--/span-->
				<div class='tab-pane col-12 'id='class4'>
					<h2>Heading</h2>
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
					<p><a class='btn btn-default' href='#' role='button'>View details &raquo;</a></p>
				</div><!--/span-->
				<div class='tab-pane col-12 'id='class5'>
					<h2>Heading</h2>
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
					<p><a class='btn btn-default' href='#' role='button'>View details &raquo;</a></p>
				</div><!--/span-->
			</div><!--/row-->
		</div><!--/span-->
		<div class='col-xs-6 col-sm-3 sidebar-offcanvas' id='sidebar' role='navigation'>
			<div class='list-group'>
				<span class='h4 well list-group-item'>Author?Namespace?</span>
				<a data-toggle='tab' href='#class0' class='list-group-item'>Constructor</a>
				<a data-toggle='tab' href='#class1' class='list-group-item'>Destructor</a>
				<a data-toggle='tab' href='#class2' class='list-group-item'>Member function 2</a>
				<a data-toggle='tab' href='#class3' class='list-group-item'>Member function 3</a>
				<a data-toggle='tab' href='#class4' class='list-group-item'>Member function 4</a>
				<a data-toggle='tab' href='#class5' class='list-group-item'>Member function 5</a>

			</div>
		</div><!--/span-->
	</div><!--/row-->
