<!-- HEADER BEGIN -->
<div class='navbar navbar-fixed-top navbar-inverse' role='navigation'>
	<div class='container'>
		<div class='navbar-header'>
			<button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
				<span class='sr-only'>Toggle navigation</span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
			</button>
			<a class='navbar-brand' href='#'>Pretty Documentation</a>
		</div>
		<div class='collapse navbar-collapse'>
			<ul class='nav navbar-nav'>
				<li><a href='#home' data-toggle='tab'>Home</a></li>
				<li><a href='#navClasses' data-toggle='tab'>Classes</a></li>
				<li><a href='#navFiles' data-toggle='tab'>Files</a></li>
				<li><a href='#navVariables' data-toggle='tab'>Variables</a></li>
			</ul>
		</div><!-- /.nav-collapse -->
	</div><!-- /.container -->
</div><!-- /.navbar -->
<!-- HEADER END -->